
<div class="article_list">
	{% for article in articles %}
	
		<div class="panel panel-default" id="xx-panel">
			  <div class="panel-heading">
			    <h3 class="panel-title">
			    	<a href="/view/{{ article._id.toString() }}" class="link">{{ article.title }}</a>
			    </h3>
			  </div>
			  <div class="panel-body">
			    {{ article.intro }}
			  </div>
			  <div class="panel-footer">
			  	<span class="glyphicon glyphicon-user"></span>
			  	<span class="panel-footer-text">{{ article.user.username }}</span>
			  	<span class="glyphicon glyphicon-th-list"></span>
			  	<span class="panel-footer-text">{{ article.category.name }}</span>
			  	<span class="glyphicon glyphicon-time"></span>
			  	<span class="panel-footer-text">{{ article.createdAt | date('Y年m月d日 h:i:s',-8*60) }}</span>
			  	<span class="glyphicon glyphicon-eye-open"></span>
			  	<span class="panel-footer-text"><em>{{ article.click }}</em>已阅读</span>
			  </div>
		</div>

	{% endfor %}
</div>
{% if pages>1 %}
<nav aria-label="Page navigation" id="page">
  <ul class="pagination">
    <li>
      <a href="javascript:;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for list in lists %}
	    {% if page==list %}
	    <li class="active"><a  href="javascript:;">{{ list }}</a></li>
	    {% else %}
	    <li><a href="javascript:;">{{ list }}</a></li>
	    {% endif %}
	  {% endfor %}
    <li>
      <a href="javascript:;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}		
				

